.planet-details {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}
